body{
	background-color: black;
}
.Main{
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}
.header{
	margin-bottom: 5px;
}
.FirstLine{
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-bottom:10px;
    width: 100%;
    height: 100%;
}
.DefaultBlock{
	background-color: #343a40!important;
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
	position: relative;
	height:570px; 
	margin:10px;
	width: 610px;
	
}
.table-responsive{
	background-color: silver;
}
.SectorLine{
	border-top: 5px solid silver;
	margin:5px;
	background-color: #343a40!important;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	position: relative;
	width: 100%
	min-height:260px;
	flex:1;
	overflow:hidden;
}

.Box{
	background-color: silver;
	margin:5px;
	height: 90%;
	flex:1;
	
}

.SecondLine{
	margin-top: 0px;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    position: relative;  
    width: 100%;
    height: 100%;
}
.DefaultBlockg{
	text-decoration-color: white;
	background-color: #343a40!important;
	height:320px; 
	margin:10px;
	width: 610px;
	
}

